<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="user.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c{2} [%t] - %m%n" />
		</layout>
	</appender>
	<logger name="userLog" additivity="false">
		<level value="info" />
		<appender-ref ref="RollingFileAppender" />
	</logger>
	<root>
		<priority value="info" />
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4j:configuration>